@import
"~minx/src/settings",
"~minx/src/functions",
"~minx/src/mixins";

//===================================================================
//  SIGN-IN
//===================================================================

.sign-in {
  margin-top: 90px;
  max-width: 300px;
}

.sign-in__heading {
  margin-bottom: 36px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.sign-in__logo {
  margin-bottom: 36px;
  font-size: 30px;
  font-weight: 300;
  color: #0E97FF;
  text-align: center;
}

.sign-in__button {
  @include button-base;
  margin-bottom: 10px;
  outline: none;
  border: none;
  padding: 0;
  width: 100%;
  height: 48px;
  font-family: inherit;
  font-size: rem(18px);
  line-height: 48px;
  color: #fff;
  background: #0E97FF;

  &:hover {
    border-bottom: 3px solid #388AC7;
    //border-color: #aaa;
  }
}
